@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Outfit", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    /* Hide scrollbar globally */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    * {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}